@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 6%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: transparent;
  transition: box-shadow 0.3s ease;
}
.logo {
  width: 170px;
}
.logo img {
  width: 100%;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar .navbar-nav a {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  color: #000000;
  transition: 0.2s;
}
.navbar-nav a:hover {
  color: #f2ce3f;
}
.navbar-extra {
  display: none;
}
#hamburger-menu {
  display: none;
}
.navbar-scrolled {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.6rem;
  font-size: 1.3rem;
  background-color: #ffde5a;
  border-radius: 25px;
  color: #000;
  font-weight: 500;
  border: 2px solid #eee;
  transition: 0.3s;
}
.contact:hover {
  background: transparent;
  border: 2px solid #ffde5a;
  color: #ffde5a;
}

.hero {
  height: 100vh;
  background: #eeee;
  display: flex;
  padding: 0 6%;
}
.img-hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.text-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-hero h1 {
  font-weight: 600;
  font-size: 2.3rem;
}
.img-hero img {
  width: 100%;
}
.second {
  color: #e2b80e;
}
.check {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #ad9d5c;
  font-weight: 600;
}
#check {
  color: #0ee219;
  font-weight: 400;
}
.icon-hero {
  margin: 1.2rem 0;
}
.rp,
.bln {
  font-weight: 400;
  color: #ad9d5c;
}
.harga {
  font-size: 4.5rem;
  color: #dbb623;
}
.promo {
  padding: 0.8rem 1.5rem;
  border-radius: 7px;
  background: #ad9d5c;
  color: #fff;
  font-weight: 600;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: 0.3s all;
}
.promo:hover {
  background: #dbb623;
}
.about {
  display: flex;
  justify-content: center;
}
.amtrade{
  color: #dbb623;
}
.price{
  border: 2px solid rgba(255, 255, 255, 0.975);
  border-radius: 9px;
  transition: transform 0.3s ease-in-out;
}
.premium{
  border: 2px solid rgb(234 179 8 / var(--tw-bg-opacity));
  border-radius: 9px;
  transition: transform 0.3s ease-in-out;
}
.price:hover{
  transform: translateY(-5px);
}
.premium:hover {
  transform: translateY(-25px);
}
h3{
  margin: 0.7rem 0;
}
.discount{
  text-decoration: line-through;
}
.promoPrice{
  font-size: 1.5rem;
  padding: 0.7rem 0;
  background-color: #f2ce3f;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.3s ease;
  color: #fff;
  width: 90%;
  margin: 0 auto;
}
.promoPrice:hover{
  background-color: #dbb623;
}
.line{
  border: 1px solid #d0cbcbee;
}
.lineA{
  border: 1px solid #4b4a4a28;
  margin: 0.7rem 0;
  width: 100%;
}
li{
  margin: 0.5rem 0;
}

.parentCard{
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper #li {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.8rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper #li:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper #li:first-child{
  left: -22px;
}
.wrapper #li:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 5px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
padding: 0;
  flex-direction: column;
  border-radius: 8px;
}
.card .img img {
  width: 150px;
  height: 300px;
  object-fit: cover;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.mulai{
  border: 2px solid #eee;
  transition: 0.3s ease-in-out;
}
.mulai:hover{
  background-color: #eee;
  color: rgb(234 179 8 / var(--tw-bg-opacity));;
  border: 2px solid rgb(234 179 8 / var(--tw-bg-opacity));
}






@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  .navbar-extra {
    display: inline-block;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffde5a;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.8rem;
  }
  .contact {
    border: 2px solid #000;
    color: #000;
    font-size: 1.7rem;
  }
  .contact:hover {
    color: #000;
    border: 2px solid #000;
  }
  .navbar-nav a:hover {
    text-decoration: underline;
    color: #000;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
